# Thư mục build của C2000 (CPU1 RAM / FLASH / LAUNCHXL)
CPU1_*/
Debug/
Release/

# File build tự động và file cấu hình biên dịch trung gian
*.opt
*.mk
makefile
*.obj
*.d
*.out
*.map
*.hex
*.bin

# Mã nguồn do SysConfig tự render lại khi build
syscfg/

# Cấu hình IDE cá nhân
.settings/
.clangd/
.metadata/
.theia/
.vscode/

# File tạm và log
*.log
*.tmp
*.bak